* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

#app p {
    margin-top: 10px;
}

.socials {
    margin-top: 20px;
}

.socials img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
